.formulario-centro {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toda la altura de la pantalla */
  }
  
  .formulario-caja {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 12px;
    color: white;
    text-align: left;
    min-width: 300px;
    backdrop-filter: blur(2px);
  }
  

  .campo-input {
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 12px 0;
    padding: 0.5em;
  
  }

  .campoestira {
    resize: none;           /* El usuario no puede cambiar el tamaño manualmente */
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5em;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  


  
  
  .resaltado32 {
  white-space: pre-line;
}





.resaltado2 {
  padding: 0.5em 1em;                 /* Espaciado interno */
  border-radius: 12px;  
  font-weight: bold;                 /* Resalta más el texto */
  backdrop-filter: blur(2px);        /* Opcional: desenfoque suave del fondo */
  text-align: center;
  display:grid;
  justify-content: center;
  align-items: center;

  font-family: "Josefin Sans", sans-serif;
  color: #dfb839;
  font-size: 110%;
  width: 30%; /* Hace que el ancho se ajuste al contenedor */
  max-width: 100%; /* Limita el ancho a un máximo de 500px */
}



.botonCen {
  display: flex;
  justify-content: center;
  align-items: center;
}