.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centrado vertical completo */
}

.login-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente si deseas */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Usa el 100% de su celda */
  padding-right: 1rem;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg {
  width: 80%; /* 80% del espacio de su celda */
  max-width: 300px;
  height: auto;
}
