/* Offcanvas */
.fondoAdmin {
    background: linear-gradient(145deg, #000010 0%, #0a0a3c 20%, #4b0082 40%, #330066 60%, #4b0082 80%, #800080 100%);
    backdrop-filter: blur(100px);
    box-shadow: -4px 0 20px rgb(219, 219, 219);
    border-left: 2px solid rgba(255, 255, 255, 0.856);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow-y: hidden;
    padding: 1rem; 
}
