/* You can add global styles to this file, and also import other style files */
/* Fondo negro para simular el cielo */
.Background {
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 0; /* Debe estar debajo de contenido interactivo */
    top: 0;
    left: 0;
    background: linear-gradient(-180deg, rgb(0, 0, 0) 0%, rgb(52, 23, 35) 30%, rgb(81, 44, 73) 50%, rgb(101, 55, 83) 70%, rgb(181, 88, 100) 100%);
    transform-origin: top center;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 10.0); /* Filtro oscuro sutil en el interior */
    overflow: auto;
    position: relative; /* Necesario para las estrellas */
    min-height: 100vh;
    overflow-y: scroll;         /* Permite el scroll vertical */
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE y Edge antiguos */
  }

  .boton {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #ff1a66;
  }
  
